################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WeatherObject/obj/Debug
/BaseObject/bin/Debug
/BaseObject/obj/Debug
/Sarra/bin/Debug
/Sarra/obj/x86/Debug
/WeatherObject/bin/Debug
